<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Post Notification</h1>
    <p>A new post has been created:</p>
    <p><strong>Name:</strong> <%= @post.name %></p>
    <p><strong>Description:</strong> <%= @post.description %></p>
  </body>
</html>
